absl-py==0.7.1
alabaster==0.7.12
alembic==1.0.11
altgraph==0.16.1
anaconda-client==1.7.2
anaconda-navigator==1.9.6
anaconda-project==0.8.2
appdirs==1.4.3
asn1crypto==0.24.0
astor==0.8.0
astroid==2.1.0
astropy==3.1
atomicwrites==1.2.1
attrs==18.2.0
audio-processing==0.0.1
audioread==2.1.8
Babel==2.6.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.3
billiard==3.6.1.0
bitarray==0.8.3
bkcharts==0.2
blaze==0.11.3
bleach==3.1.4
bokeh==1.0.2
boto==2.49.0
boto3==1.12.2
botocore==1.15.2
Bottleneck==1.2.1
branca==0.3.1
bs4==0.0.1
certifi==2018.11.29
cffi==1.14.0
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
clyent==1.2.2
coala-utils==0.5.1
codecov==2.1.4
colorama==0.4.1
commonmark==0.9.1
comtypes==1.1.7
conda==4.8.2
conda-build==3.17.6
conda-package-handling==1.3.11
conda-verify==3.1.1
confuse==1.0.0
contextlib2==0.5.5
coverage==5.0.3
cryptography==2.4.2
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.2
cytoolz==0.9.0.1
dask==1.0.0
dataset==1.1.2
datashape==0.5.4
decorator==4.4.2
defusedxml==0.5.0
distributed==1.25.1
Django==2.2.4
docutils==0.14
dominate==2.5.1
entrypoints==0.2.3
et-xmlfile==1.0.1
fake-useragent==0.1.11
fastcache==1.0.2
ffmpeg==1.4
filelock==3.0.10
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.7
Flask-Uploads==0.2.1
folium==0.10.0
future==0.17.1
gast==0.2.2
get==2019.4.13
GetOldTweets3==0.0.10
gevent==1.3.7
ghp-import==0.5.5
glob2==0.6
google-pasta==0.1.7
greenlet==0.4.15
grpcio==1.23.0
h5py==2.8.0
heapdict==1.0.0
hgtk==0.1.3
hmmlearn==0.2.1
hsaudiotag==1.1.1
html5lib==1.0.1
htmlmin==0.1.12
idna==2.8
imageio==2.4.1
imagesize==1.1.0
import-ipynb==0.1.3
importlib-metadata==0.6
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.2
Jinja2==2.10
jmespath==0.9.4
joblib==0.14.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.3
jupyterlab-server==0.2.0
jupyterthemes==0.20.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==17.0.0
kiwisolver==1.0.1
korean-speechrecognition==1.0
lazy-object-proxy==1.3.1
lesscpy==0.13.0
libarchive-c==2.8
librosa==0.7.2
llvmlite==0.31.0
locket==0.2.0
lxml==4.2.5
Mako==1.0.14
Markdown==3.1.1
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
mecab==0.996
mecab-python===0.996-ko-0.9.2-msvc
menuinst==1.4.14
missingno==0.4.2
mistune==0.8.4
mkl-fft==1.0.6
mkl-random==1.0.2
mock==3.0.5
more-itertools==4.3.0
mpmath==1.1.0
msgpack==0.5.6
multipledispatch==0.6.0
mysql-connector-python==8.0.17
navigator-updater==0.2.1
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.2
nltk==3.4
nose==1.3.7
notebook==5.7.4
numba==0.48.0
numexpr==2.6.8
numpy==1.18.1
numpydoc==0.8.0
odo==0.5.1
olefile==0.46
opencv-python==4.2.0.32
openpyxl==2.5.12
packaging==18.0
pandas==0.23.4
pandas-profiling==2.4.0
pandocfilters==1.4.2
parse==1.12.1
parso==0.3.1
partd==0.3.9
path.py==11.5.0
pathlib2==2.3.3
patsy==0.5.1
PCM2Wav==1.2
pefile==2019.4.18
pep8==1.7.1
phik==0.9.8
pickleshare==0.7.5
Pillow==5.3.0
pkginfo==1.4.2
playsound==1.2.2
pluggy==0.8.0
ply==3.11
post==2019.4.13
prometheus-client==0.5.0
prompt-toolkit==2.0.7
protobuf==3.9.1
psutil==5.4.8
public==2019.4.13
py==1.7.0
PyAudio==0.2.11
pybind11==2.4.3
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.20
pycrypto==2.6.1
pycurl==7.43.0.2
pyee==6.0.0
pyflakes==2.0.0
Pygments==2.3.1
PyInstaller==3.5
pylint==2.2.2
PyMySQL==0.9.3
pyodbc==4.0.25
pyOpenSSL==18.0.0
pyparsing==2.3.0
pyppeteer==0.0.25
PyQt5==5.13.2
PyQt5-sip==12.7.0
pyquery==1.4.1
PySocks==1.6.8
pytest==4.0.2
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-cov==2.9.0
pytest-doctestplus==0.2.0
pytest-openfiles==0.3.1
pytest-pylint==0.14.1
pytest-remotedata==0.3.1
python-dateutil==2.7.5
python-editor==1.0.4
python-Levenshtein==0.12.0
pytz==2018.7
PyWavelets==1.0.1
pywin32==223
pywin32-ctypes==0.2.0
pywinpty==0.5.5
PyYAML==3.13
pyzmq==17.1.2
QtAwesome==0.5.3
qtconsole==4.4.3
QtPy==1.5.2
query-string==2019.4.13
recommonmark==0.6.0
request==2019.4.13
requests==2.21.0
requests-html==0.10.0
resampy==0.2.2
rope==0.11.0
ruamel-yaml==0.15.46
s3transfer==0.3.3
scikit-image==0.14.1
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
sentencepiece==0.1.85
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.14.0
sklearn==0.0
smart-open==1.9.0
snowballstemmer==1.2.1
sortedcollections==1.0.1
sortedcontainers==2.1.0
sounddevice==0.3.14
SoundFile==0.10.3.post1
sox==1.3.7
SpeechRecognition==3.8.1
Sphinx==1.8.2
sphinx-rtd-theme==0.4.3
sphinxcontrib-websupport==1.1.0
spyder==3.3.2
spyder-kernels==0.3.0
SQLAlchemy==1.2.15
sqlparse==0.3.0
statsmodels==0.9.0
sympy==1.3
tables==3.4.4
tblib==1.3.2
tensorboard==1.13.1
tensorboardX==2.0
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
toolz==0.9.0
torch==1.5.0+cpu
torchsummary==1.5.1
torchsummaryX==1.3.0
torchtext==0.5.0
torchvision==0.6.0+cpu
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
travis-sphinx==2.2.1
twitter-scraper==0.3.0
twitterscraper==1.4.0
unicodecsv==0.14.1
urllib3==1.24.1
visitor==0.1.3
w3lib==1.21.0
Wave==0.0.2
wavio==0.0.4
wcwidth==0.1.7
webencodings==0.5.1
websockets==8.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
win-inet-pton==1.0.1
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.10.11
xlrd==1.2.0
XlsxWriter==1.1.2
xlwings==0.15.1
xlwt==1.3.0
zict==0.1.3
